<div class="row-fluid">
  <div class="panel panel-default">
  <div class="col-md-30">
  </div>
  <div class="col-md-30">
    <div class="panel panel-default">

      <div class="panel-heading">
<%= @narrative.title%>

      </div>
    </div>
  </div>

<div class="body">
        <h4>  Description: <%= @narrative.description %> </h4>
        <h4>  Result: <%= @narrative.result %> </h4>
        <h4>  Number of People Impacted: <%= @narrative.people %> </h4>
        <h4>  Location: <%= @narrative.location %> </h4>
        <h4>  Templates: <%= @narrative.templates %> </h4>
  </div>
      <%= link_to 'Delete', @narrative, method: :delete, data: {confirm: "Are you sure you want to delete?"}, class: 'btn btn-xs btn-danger' %>
      <%=link_to "Go Back To  Narratives", issue_narratives_path(@issue), class: 'btn btn-default btn-xs'%>

    </div>
